<table class = "table post-date">
   <thead>
      <tr>
        <% art_media.each do |medium| %>
        <% if medium.posts.any? %>
         <th><%= medium.name %></th>
         <th>Category</th>
         <th>Date Posted</th>
         <% end %>
      </tr>
   </thead>
   
   <tbody>
    <% if medium.posts.any? %>
      <% medium.posts.reverse.each do |post| %> 
      <tr>
         <td><%= link_to post.title, post_path(post) %></td>
         <% if post.categories %>
         <td><%= post.all_categories %></td>
         <% else %>
         <td>No categories specified</td>
         <% end %>
         <td><%= post.pretty_created_at %></td>
      </tr>
    <% end %>

    <% end %>
   </tbody>
  <% end %>
</table>