<div class="container-fluid">
      <div class="row fh5co-post-entry single-entry">
      <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <figure class="animate-box">

          <h1>Edit Post</h1>
          <%= render partial: "form", locals: {post: @post} %>        

        </figure>
      </article>
    </div>
</div>