<%= render partial: "divstyle" %>

          <%= render partial: "errors", locals: {post: @post} %>
          
          <h1>New Post</h1>
          <%= render partial: "form", locals: {post: @post} %>
       
<%= render partial: "enddivstyle" %>