  <%=link_to @post.previous_post, class: "fh5co-post-prev" do %>
    <span><i class="icon-chevron-left"></i> Prev</span>
  <% end %>

  <%=link_to @post.next_post, class: "fh5co-post-next" do %>
    <span>Next <i class="icon-chevron-right"></i></span>
  <% end %>
  

  <div class="container-fluid">
    <div class="row fh5co-post-entry single-entry">
      <%= render partial: "post", locals: {post: @post} %>
    </div>
  </div>
