

<table class = "table post-date">
   <thead>
      <tr>
        <% categories.each do |category| %>
        <% if category.posts.any? %>
         <th><%= category.name %></th>
         <th>Art Medium</th>
         <th>Date Posted</th>
         <% end %>
      </tr>
   </thead>
   
   <tbody>
    <% if category.posts.any? %>
      <% category.posts.each do |post| %> 
      <tr>
         <td><%= link_to post.title, post_path(post) %></td>
         <% if post.art_medium %>
         <td><%= post.art_medium.name %></td>
         <% else %>
         <td>No medium specified</td>
         <% end %>
         <td><%= post.pretty_created_at %></td>
      </tr>
    <% end %>

    <% end %>
   </tbody>
  <% end %>
</table>